  :root {
    --color-warn: orange;
    --color-bad: red;
    --color-c2a: #6092ef;
    --color-good: #20c040;

    /* DARK */
    --color-theme-bg: rgb(255, 255, 255);
    --color-theme-text: #000000;
    --color-bg: #D9D9D9;
    --color-border: #14a;
    --color-disabled: #678;
    --color-text: #000000;
    --color-dialog-bg: #4a7aea;

  }

  body, html {
      margin: 0;
      height: 100%;
      background-color: var(--color-bg);
      color: var(--color-text);
  }

  body {
      font-family: Arial, Helvetica, sans-serif;
  }

  a:visited {

    color: var(--color-text);
    
  }

  .flex {
    display: flex;
  }

  .pull-right {
    margin-left: auto;
  }

  li {
    list-style-type: none;
    vertical-align: middle;
    margin-right: 3rem;
  }

  .hidden {
    display: none;
  }

  .meny {
    position: absolute;
    background-color: var(--color-bg);
    padding:0.5em;
    z-index: 999;
    border:1px solid var(--color-text);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .meny a {
    display:block;
    padding:0.5em;
  }

  .logo {
    max-width: 200px; max-height: 22px;
  }

  button  {
    width: auto; 
    height: 60px;
    padding: 0.5em;
    cursor:  pointer; 
  }

  .warn {
    color: var(--color-warn);
  }
  .bad {
    color: var(--color-bad);
  }

 
  .index {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('mediafiler/barnklærnatur.jpg') center/cover no-repeat; 
}


table.produkt{
  padding:2em;
  border:0;
}

table.produkt td{
  padding:1em;
}


.button-registrer {
  padding: 12px 4px; 
  color: black; 
  background-color: var(--color-bg); 
  border: 1px solid black; 
  border-radius: 4px; 
  cursor:  pointer; 
  text-align: center; 
  text-decoration: none;
}
.button-link {
  padding: 12px 6px;
  color: black; 
  background-color: azure; 
  border: 1px solid black;
  border-radius: 4px;
  cursor:  pointer; 
  text-align: center; 
  text-decoration: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: azure;
  border-bottom: 2px solid #000000;
  font-size: medium;
  padding-top: 1%;
  padding-bottom: 1%;
}

.barekraft {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('mediafiler/marita-kavelashvili-ugnrXk1129g-unsplash.jpg') center/cover no-repeat; 
}

.bilde-størrelse {
  min-width: 200px;
  min-height: 200px;
  max-width: 200px;
  max-height: 200px;
}
.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  margin-top: 16px;
  width: 100%;
  background-color: azure;
  color: black;
  text-align: center;
}
.inline {
  display: inline-block;
}
.infoboks{
  margin: 0 auto;
  width: 40%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(240, 255, 255, 0.288);
  text-align: center;
  padding: 20px;
  gap: 20px;
}

.button-bread{
  display: flex;
  justify-content: center;
  gap: 20px; 
}

.fremhevet{
  color: #174d17;
}

.about-container{
  margin: 15px auto;
  display: flex;
  width: 80%;
  text-align: center;
  align-items: center;
  padding: 30px;
}
.about-infoboks{
  margin: 0 auto;
  width: 70%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(240, 255, 255, 0.288);
  text-align: center;
  padding: 20px;
  gap: 20px;
}

.login {
  margin: 0 auto;
  width: 70%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(240, 255, 255, 0.288);
  text-align: center;
  padding: 20px;
  gap: 20px;
}

.loginside {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('mediafiler/marita-kavelashvili-ugnrXk1129g-unsplash.jpg') center/cover no-repeat; 
}