  :root {
    --color-theme-bg: rgb(255, 255, 255);
    --color-theme-text: #000000;
    --color-bg: #D9D9D9;
    --color-border: #14a;
    --color-disabled: #678;
    --color-text: #000000;
    --color-dialog-bg: #4a7aea;

  }

  body, html {
      margin: 0;
      height: 100%;
      background-color: var(--color-bg);
      color: var(--color-text);
  }

  h1{
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center;

  }

  body {
      font-family: Arial, Helvetica, sans-serif;
  }

  a:visited {
    color: var(--color-text);
    
  }

  .flex {
    display: flex;
  }

  .pull-right {
    margin-left: auto;
  }

  .nav-container li {
    list-style-type: none;
    vertical-align: middle;
    margin-right: 3rem;
  }

  .hidden {
    display: none;
  }

  .meny {
    position: absolute;
    background-color: var(--color-bg);
    padding:0.5em;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .meny a {
    display:block;
    padding: 10px;
    border: 1px solid black;
    text-decoration: none;
  }

  .logo {
    max-width: 200px; max-height: 22px;
  }
 
  .index {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('mediafiler/barnklærnatur.jpg') center/cover no-repeat; 
}


table {
  border: 5px solid rgb(0, 0, 0, 0.5);
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.destinasjoner-h2{
  text-align: center;
  margin-top: 4%;
  font-size:xx-large
}

th, td{
  width: 25%;
  border: 2px solid black;
  border-collapse: collapse;
  background-color: white;

}

td img{
  width: 100%;
}

a:hover {
 background-color: #0000002c;
}

.button-registrer {
  padding: 12px 4px; 
  color: black; 
  background-color: var(--color-bg); 
  border: 1px solid black; 
  border-radius: 4px; 
  cursor:  pointer; 
  text-align: center; 
  text-decoration: none;
}
.button-link {
  padding: 12px 6px;
  color: black; 
  background-color: azure; 
  border: 1px solid black;
  border-radius: 4px;
  cursor:  pointer; 
  text-align: center; 
  text-decoration: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: azure;
  border-bottom: 2px solid #000000;
  font-size: medium;
  padding-top: 1%;
  padding-bottom: 1%;
  overflow: auto;
  white-space: nowrap;
}

.barekraft {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('mediafiler/marita-kavelashvili-ugnrXk1129g-unsplash.jpg') center/cover no-repeat; 
}

.bilde-størrelse {
  max-width: 100%;
  max-height: 100%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-top: 16px;
  width: 100%;
  background-color: azure;
  color: black;
  text-align: center;
}
.inline {
  display: inline-block;
}
.infoboks{
  margin: 0 auto;
  width: 40%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(240, 255, 255, 0.288);
  text-align: center;
  padding: 20px;
  gap: 20px;
}

.button-bread{
  display: flex;
  justify-content: center;
  gap: 20px; 
}

.fremhevet{
  color: #005300;
}

/* about */

.about-container{
  display: flex;
  justify-content: center;
}
.about-infoboks{
  margin: 0 auto;
  width: 70%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #f0ffff49;
  text-align: center;
  padding: 20px;
  gap: 20px;
}

/* medlemskap */

.medlemssnivaa{
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: auto;
}

.medlemssnivaa ul{
  background-color: rgba(240, 255, 255, 0.288);
  list-style: none;
  padding: 3%;
  margin-left: 10px;
  flex: 1;
}

.medlemssnivaa li{
  flex: 1;
  margin: 0 8px;
}

.medlemssnivaa a{
  padding: 12px 6px;
  color: black; 
  background-color: azure; 
  border: 1px solid black;
  border-radius: 4px;
  cursor:  pointer; 
  text-align: center; 
  text-decoration: none;
}

/* register */

.login-register{
  display: flex;
  justify-content: center;
  padding: 16px;
}

form{
  max-width: 40%;
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;
  padding-bottom: 15px;
  background-color: #f0ffff49;
  margin-left: 20px;
  margin-right: 20px;
  
}

input{
  width: 100%;
  display: inline-block;
  border: none;
  border-radius: 4px;
  background: white;
  padding: 16px 0px;
  margin: 8px 0;
}

input:focus{
  background-color: white;
  outline: none;
}

.registerbtn {
  background-color: #058556;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}


.registerbtn:hover {
  background-color: #04AA6D;
}
