  :root {
    --color-warn: orange;
    --color-bad: red;
    --color-c2a: #6092ef;
    --color-good: #20c040;

    /* DARK */
    --color-theme-bg: rgb(255, 255, 255);
    --color-theme-text: #000000;
    --color-bg: #D9D9D9;
    --color-border: #14a;
    --color-disabled: #678;
    --color-text: #000000;
    --color-dialog-bg: #4a7aea;

  }

  body, html {
      margin: 0;
      height: 100%;
      background-color: var(--color-bg);
      color: var(--color-text);
  }

  body {
      font-family: Arial, Helvetica, sans-serif;
  }

  a:visited {

    color: var(--color-text);
    
  }

  .flex {
    display: flex;
  }

  .pull-right {
    margin-left: auto;
  }

  li {
    list-style-type: none;
    vertical-align: middle;
    margin-right: 0.5rem;
  }

  .hidden {
    display: none;
  }

  .meny {
    position: absolute;
    background-color: var(--color-bg);
    padding:0.5em;
    z-index: 999;

  }

  .meny a {
    display:block;
    padding:0.5em;
  }

  .logo {
    max-width: 60px; max-height: 60px;
  }

  button  {
    width: 60px; height: 60px;
    padding: 0.5em;
  }

  .warn {
    color: var(--color-warn);
  }
  .bad {
    color: var(--color-bad);
  }

 
  #fremside {
    position: relative;
    width: 100%;
    height: 70vh;
    background: url('mediafiler/barnklærnatur.jpg') center/cover no-repeat; 
}